<ion-header>
  <ion-toolbar>
    <ion-title>Dev Metrics</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loading">Carregando métricas…</div>
  <div *ngIf="error" class="rs-error">{{ error }}</div>

  <div *ngIf="metrics">
    <ion-list>
      <ion-item *ngFor="let key of keys(metrics || {})">
        <ion-label>
          <h3>{{ key }}</h3>
          <p>{{ metrics[key] }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <pre style="white-space:pre-wrap">{{ metrics | json }}</pre>
  </div>

  <ion-button expand="block" (click)="fetch()" style="margin-top:12px">Atualizar</ion-button>
</ion-content>
