<div class="rs-ratings-skeleton">
  <div class="rs-ratings-skeleton__row">
    <ion-skeleton-text [animated]="true" style="width: 96px; height: 18px"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 48px; height: 18px"></ion-skeleton-text>
  </div>
  <div class="rs-ratings-skeleton__row">
    <ion-skeleton-text [animated]="true" style="width: 120px; height: 18px"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 48px; height: 18px"></ion-skeleton-text>
  </div>
  <div class="rs-ratings-skeleton__row">
    <ion-skeleton-text [animated]="true" style="width: 104px; height: 18px"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 48px; height: 18px"></ion-skeleton-text>
  </div>
</div>