<ion-content class="ion-padding">
  <p>
    O <strong>RateSync</strong> é uma aplicação que reúne avaliações de filmes de várias plataformas populares, 
    como IMDb, Rotten Tomatoes e outras, para fornecer informações consolidadas aos usuários.
  </p>
  <p>
    Confira o código-fonte e contribua no <a href="https://github.com/bastosgabriel312/rate-sync" target="_blank">backend</a> 
    e no <a href="https://github.com/bastosgabriel312/rate-sync-ionic" target="_blank">frontend</a>.
  </p>
</ion-content>