<ion-header [ngClass]="{'ion-no-border':isAndroid}">
  <ion-toolbar>
    <ion-title>Rate Sync</ion-title>
    <ion-buttons slot="primary">
      <ion-button shape="round" size="small" (click)="onPresentPopover($event)">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <app-search-bar (searchChange)="onSearch($event)" (onSearchCleared)="onSearchClear()"/>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-movie-list [movies]="movieResults" [isLoading]="isLoadingSearch"></app-movie-list>
  <ion-content *ngIf="movieResults.length===0">
    <ion-item>Mais populares</ion-item>
    <app-movie-list [movies]="moviePopularResults" [isLoading]="isLoadingMorePopulars"></app-movie-list>
  </ion-content>
</ion-content>